{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div id="error-server-state-alert" class="alert alert-danger" role="alert">
        </div>
        <div id="error-server-logs-alert" class="alert alert-danger" role="alert">
        </div>
        <div id="error-server-alert" class="alert alert-danger" role="alert">
        </div>
        <section id="top-line" aria-label="Right-Align">
            <div>
                <span id="server-state" class="label label-danger">État : Stoppé</span>
            </div>
            <div id="action-buttons">
                <button type="button" class="btn btn-success" id="start-button">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Start
                </button>
                <button type="button" class="btn btn-danger" id="stop-button">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Stop
                </button>
                <button type="button" class="btn btn-default" id="reload-button">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Reload
                </button>
                <button type="button" class="btn btn-primary"  id="update-button">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                    Update
                </button>
            </div>
        </section>
        <section id="logs-output"></section>
        <section id="actual-file-content" style="display: none;"></section>
        <section id="logs-actions">
            <span id="current-log-file"></span>
            <button class="btn btn-xs btn-default">
                <span id="scroll-button-icon" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                Auto-scroll
            </button>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/js/main.js"></script>
{% endblock %}