{% extends 'base.html.twig' %}

{% block body %}
    <section id="logs-output" class="container">

    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            getLogs();
            setInterval(getLogs, 1000);
        })
        function getLogs(){
            $.get(
                "/get-logs",
                function(data) {
                    $('#logs-output').empty();
                    data.forEach(function(e){
                        var p = document.createElement('p');
                        p.textContent = e;
                        $('#logs-output').append(p);
                    });
                }
            )
        }
    </script>
{% endblock %}